body{
    background-color: lightblue;
    margin: 0;
}

header{
    padding: 0;
    margin: 0;
    background-color: white;

}

#title{
    display: inline;
    padding-left: 15%;
    padding-right: 25%;
    @font-face {
        font-family: 'Montserrat';
        src: url('fonts\Montserrat\static\Montserrat-Bold.ttf');
    }
    font-family: 'Montserrat', sans-serif;
}

#image{
    position: fixed;
    top: 58px;
    right:0%
}

.top_nav{
    margin-right: 10px;

}

.search{
    padding-left: 250px;
    padding-top: 200px;
    display: block;

}



.bike_stats{
    color: white;
    padding-left: 40px;
    font-size: 20px;
}

.register{ 
    color: white;
    padding-left: 150px;
    padding-top: 150px;
}







